* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    background-color: #60a3bc;
}

.navbar-brand {
    font-size: 2em;
}

section {
    background-color: #60a3bc;
}

nav {
    background-color: #3c6382;
}

hr {
    border-top: 5px solid rbga(0, 0, 0, 0.1);
}

body h1:hover {
    transform: scale(1.2);
}

body h1 {
    transition: all 1.5s;
}

.title, .about {
    margin-bottom: 14em;
}

.title {
    margin-top: 6em;
}

.footer {
    margin-bottom: 4em;
}